html, body {
  height: 100%;
}

body {
  background-color: #9dafb4;

  background-image: linear-gradient(0deg, #cbdde2 1.1px, transparent 0), linear-gradient(90deg, #cbdde2 1.1px, transparent 0);

  background-size: 10px 10px;
}